@*
if user is authenticated
show First Name + Last Name
dropdown for links
1. Movies (purchased movies) -> user/purchases
2. Favorites -> user/favorites
3. Account info -> user/edit
4. Logout -> logout and redirect to login page

else

show links
Register -> account/register
Login ->account/login*@

 <div class="text-end" style="display: flex;">


        <a class="nav-link text-dark" href="/Account/Register"><button id="loginbutton" class="btn btn-outline-light">Register </button></a>


        <a class="nav-link text-dark" href="/Account/Login"><button id="registerbutton" class="btn btn-outline-light">Login </button></a>

    </div>