@model Application_Core.Models.UserLoginModel

@{
    ViewData["Title"] = "Login";
}



<hr />
<div class="row">
    <div class="col-md-4" style="margin-left: auto;margin-right: auto;">
        <form class="wrapper " method="post" action="/Account/Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h1 class="h3 mb-3 fw-normal">Login</h1>
            <div class="form-floating">
                <input  type="email" class="form-control" id="floatingInput" name="Email" placeholder="name@example.com">
                <label for="floatingInput">Email</label>          
            </div>
            <div class="form-floating">
                <input  type="password" class="form-control" id="floatingPassword" name="Password" placeholder="Password">
                <label  for="floatingPassword">Password</label>               
            </div>
            <div class="checkbox mb-3">
                <label>
                    <input b-tv0u6vhy1m type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
             <button class="btn btn-lg btn-dark" style="margin-top: 40px; " type="submit" formaction="/account/register">
                 Sign in <i class="fas fa-sign-in-alt"></i>
            </button>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
