@model Application_Core.Models.UserRegisterModel

@{
    ViewData["Title"] = "Register";
}



<hr />
<div class="row">
    <div class="col-md-4" style="margin-left: auto;margin-right: auto;">
        <form id="registerform" method="post" action="/Account/Register">
            <h1 class="h3 mb-3 fw-normal">Register</h1>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input  type="email" class="form-control" id="floatingInput" name="Email" placeholder="name@example.com">
                <label for="floatingInput">Email</label>
                <span class="error-msg color-danger field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
            </div>
            <div class="form-floating">
                <input  type="text" class="form-control" id="floatingFistname" name="Firstname" placeholder="FirstName">
                <label  for="floatingFistname">First Name</label>
                <span class="error-msg color-danger field-validation-valid" data-valmsg-for="Firstname" data-valmsg-replace="true"></span>
            </div>
            <div class="form-floating">
                <input  type="text" class="form-control" id="floatingLastname" name="Lastname" placeholder="LastName">
                <label  for="floatingLastname">Last Name</label>
                <span class="error-msg color-danger field-validation-valid" data-valmsg-for="Lastname" data-valmsg-replace="true"></span>
            </div>
            <div class="form-floating">
                <input  type="password" class="form-control" id="floatingPassword" name="Password" placeholder="Password">
                <label  for="floatingPassword">Password</label>
                <span class="error-msg color-danger field-validation-valid" style="color: red;" data-valmsg-for="Password" data-valmsg-replace="true"></span>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingConfirmPassword" name="ConfirmPassword" placeholder="Confirm Password" >
                <label  for="floatingConfirmPassword">Confirm Password</label>
            </div>
            <div class="form-floating">
                <<input  type="date" class="form-control" id="floatingDOB" name="DateOfBirth" placeholder="DOB">
                <label  for="floatingDOB">Date Of Birth</label>
                <span class="error-msg color-danger field-validation-valid" data-valmsg-for="DateOfBirth" data-valmsg-replace="true"></span>
            </div>
           <button class="btn btn-lg btn-dark" style="margin-top: 40px; " type="submit" formaction="/account/register">
                 Register
           </button>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
